body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1416 {
  position:absolute;
  left:90px;
  top:0px;
  width:683px;
  height:125px;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1418 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:31px;
}
#u1419 {
  position:absolute;
  left:181px;
  top:0px;
  width:497px;
  height:30px;
  color:#FFFFFF;
}
#u1420 {
  position:absolute;
  left:2px;
  top:6px;
  width:493px;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:30px;
  width:181px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1422 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:31px;
}
#u1423 {
  position:absolute;
  left:181px;
  top:30px;
  width:497px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1424 {
  position:absolute;
  left:2px;
  top:6px;
  width:493px;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
}
#u1425 {
  position:absolute;
  left:0px;
  top:60px;
  width:181px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1426 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:31px;
}
#u1427 {
  position:absolute;
  left:181px;
  top:60px;
  width:497px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1428 {
  position:absolute;
  left:2px;
  top:6px;
  width:493px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
}
#u1429 {
  position:absolute;
  left:0px;
  top:90px;
  width:181px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1430 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:31px;
}
#u1431 {
  position:absolute;
  left:181px;
  top:90px;
  width:497px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#616161;
}
#u1432 {
  position:absolute;
  left:2px;
  top:6px;
  width:493px;
  word-wrap:break-word;
}
