body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:368px;
}
#u1229 {
  position:absolute;
  left:126px;
  top:560px;
  width:720px;
  height:368px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:176px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:436px;
}
#u1231 {
  position:absolute;
  left:125px;
  top:103px;
  width:721px;
  height:436px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:210px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u1235 {
  position:absolute;
  left:91px;
  top:15px;
  width:100px;
  height:50px;
  font-size:16px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1238 {
  position:absolute;
  left:202px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1240 {
  position:absolute;
  left:281px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1241 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1242 {
  position:absolute;
  left:368px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1244 {
  position:absolute;
  left:446px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1245 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1246 {
  position:absolute;
  left:525px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1247 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u1248 {
  position:absolute;
  left:603px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1249 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
}
#u1250 {
  position:absolute;
  left:786px;
  top:15px;
  width:36px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u1251 {
  position:absolute;
  left:2px;
  top:15px;
  width:32px;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u1252 {
  position:absolute;
  left:840px;
  top:23px;
  width:70px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1253 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u1254 {
  position:absolute;
  left:603px;
  top:62px;
  width:79px;
  height:3px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
