body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:885px;
}
#u756 {
  position:absolute;
  left:90px;
  top:90px;
  width:579px;
  height:884px;
}
#u757 {
  position:absolute;
  left:2px;
  top:434px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:26px;
}
#u758 {
  position:absolute;
  left:90px;
  top:106px;
  width:580px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u759 {
  position:absolute;
  left:10px;
  top:0px;
  width:570px;
  word-wrap:break-word;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:21px;
}
#u761 {
  position:absolute;
  left:100px;
  top:141px;
  width:357px;
  height:20px;
  color:#999999;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u763 {
  position:absolute;
  left:186px;
  top:144px;
  width:17px;
  height:16px;
  color:#999999;
}
#u764 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:2px;
}
#u765 {
  position:absolute;
  left:105px;
  top:171px;
  width:556px;
  height:1px;
}
#u766 {
  position:absolute;
  left:2px;
  top:-8px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:774px;
}
#u767 {
  position:absolute;
  left:90px;
  top:189px;
  width:580px;
  height:773px;
  font-size:14px;
}
#u768 {
  position:absolute;
  left:10px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:194px;
}
#u769 {
  position:absolute;
  left:99px;
  top:236px;
  width:556px;
  height:193px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u770 {
  position:absolute;
  left:2px;
  top:88px;
  width:552px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:194px;
}
#u771 {
  position:absolute;
  left:102px;
  top:490px;
  width:556px;
  height:193px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:2px;
  top:88px;
  width:552px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u773 {
  position:absolute;
  left:565px;
  top:388px;
  width:84px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u774 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u775 {
  position:absolute;
  left:565px;
  top:644px;
  width:84px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u776 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:238px;
}
#u778 {
  position:absolute;
  left:17px;
  top:90px;
  width:63px;
  height:237px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u779 {
  position:absolute;
  left:2px;
  top:18px;
  width:59px;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u780 {
  position:absolute;
  left:26px;
  top:132px;
  width:46px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u781 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u782 {
  position:absolute;
  left:26px;
  top:171px;
  width:46px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u783 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u784 {
  position:absolute;
  left:26px;
  top:210px;
  width:46px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u785 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u786 {
  position:absolute;
  left:26px;
  top:249px;
  width:46px;
  height:29px;
}
#u787 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u788 {
  position:absolute;
  left:26px;
  top:288px;
  width:46px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u789 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:199px;
}
#u790 {
  position:absolute;
  left:700px;
  top:90px;
  width:210px;
  height:198px;
}
#u791 {
  position:absolute;
  left:2px;
  top:91px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u792 {
  position:absolute;
  left:701px;
  top:90px;
  width:209px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u793 {
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:2px;
}
#u794 {
  position:absolute;
  left:701px;
  top:123px;
  width:209px;
  height:1px;
}
#u795 {
  position:absolute;
  left:2px;
  top:-8px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u797 {
  position:absolute;
  left:707px;
  top:134px;
  width:188px;
  height:29px;
  color:#868686;
}
#u798 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:131px;
}
#u799 {
  position:absolute;
  left:700px;
  top:299px;
  width:209px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u800 {
  position:absolute;
  left:2px;
  top:56px;
  width:205px;
  word-wrap:break-word;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:229px;
}
#u802 {
  position:absolute;
  left:700px;
  top:439px;
  width:209px;
  height:228px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u803 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u804 {
  position:absolute;
  left:724px;
  top:493px;
  width:161px;
  height:161px;
}
#u805 {
  position:absolute;
  left:2px;
  top:72px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u807 {
  position:absolute;
  left:707px;
  top:163px;
  width:188px;
  height:29px;
  color:#868686;
}
#u808 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u810 {
  position:absolute;
  left:707px;
  top:192px;
  width:188px;
  height:29px;
  color:#868686;
}
#u811 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u813 {
  position:absolute;
  left:707px;
  top:222px;
  width:188px;
  height:29px;
  color:#868686;
}
#u814 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u816 {
  position:absolute;
  left:707px;
  top:251px;
  width:188px;
  height:29px;
  color:#868686;
}
#u817 {
  position:absolute;
  left:0px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u818 {
  position:absolute;
  left:90px;
  top:991px;
  width:89px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u819 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u820 {
  position:absolute;
  left:90px;
  top:1030px;
  width:89px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u821 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u822 {
  position:absolute;
  left:179px;
  top:991px;
  width:371px;
  height:33px;
  color:#999999;
}
#u823 {
  position:absolute;
  left:10px;
  top:6px;
  width:361px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u824 {
  position:absolute;
  left:179px;
  top:1030px;
  width:371px;
  height:33px;
  color:#999999;
}
#u825 {
  position:absolute;
  left:10px;
  top:6px;
  width:361px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u827 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u828 {
  position:absolute;
  left:91px;
  top:15px;
  width:100px;
  height:50px;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u831 {
  position:absolute;
  left:202px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u833 {
  position:absolute;
  left:281px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u834 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u835 {
  position:absolute;
  left:368px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u836 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u837 {
  position:absolute;
  left:446px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u838 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u839 {
  position:absolute;
  left:525px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u841 {
  position:absolute;
  left:603px;
  top:15px;
  width:79px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:2px;
  top:15px;
  width:75px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
}
#u843 {
  position:absolute;
  left:786px;
  top:15px;
  width:36px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u844 {
  position:absolute;
  left:2px;
  top:15px;
  width:32px;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u845 {
  position:absolute;
  left:840px;
  top:23px;
  width:70px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u846 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:82px;
  height:6px;
}
#u847 {
  position:absolute;
  left:525px;
  top:65px;
  width:79px;
  height:3px;
}
#u848 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:201px;
}
#u851 {
  position:absolute;
  left:0px;
  top:1105px;
  width:1000px;
  height:200px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u852 {
  position:absolute;
  left:2px;
  top:92px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u853 {
  position:absolute;
  left:643px;
  top:1126px;
  width:92px;
  height:92px;
}
#u854 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u856 {
  position:absolute;
  left:90px;
  top:1126px;
  width:91px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u858 {
  position:absolute;
  left:90px;
  top:1177px;
  width:113px;
  height:20px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u860 {
  position:absolute;
  left:90px;
  top:1207px;
  width:57px;
  height:20px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u862 {
  position:absolute;
  left:90px;
  top:1237px;
  width:57px;
  height:20px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u865 {
  position:absolute;
  left:252px;
  top:1126px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u867 {
  position:absolute;
  left:252px;
  top:1177px;
  width:99px;
  height:20px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u869 {
  position:absolute;
  left:252px;
  top:1207px;
  width:71px;
  height:20px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u871 {
  position:absolute;
  left:252px;
  top:1237px;
  width:99px;
  height:20px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u874 {
  position:absolute;
  left:399px;
  top:1126px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
}
#u876 {
  position:absolute;
  left:399px;
  top:1177px;
  width:175px;
  height:20px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u878 {
  position:absolute;
  left:399px;
  top:1207px;
  width:101px;
  height:20px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u880 {
  position:absolute;
  left:399px;
  top:1237px;
  width:195px;
  height:20px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u882 {
  position:absolute;
  left:399px;
  top:1267px;
  width:109px;
  height:20px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u885 {
  position:absolute;
  left:783px;
  top:1126px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u887 {
  position:absolute;
  left:783px;
  top:1177px;
  width:57px;
  height:20px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u889 {
  position:absolute;
  left:783px;
  top:1207px;
  width:127px;
  height:20px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u891 {
  position:absolute;
  left:783px;
  top:1237px;
  width:71px;
  height:20px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u893 {
  position:absolute;
  left:783px;
  top:1267px;
  width:85px;
  height:20px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
